%h1 Create Request
%h4= link_to "logout",cab_requests_logout_path
%hr

  = form_for(@cab_request) do |f|

    .field
      = f.label "Request_ID:"
      = f.text_field :id

    .field
      = f.label "Requester:"
      = f.text_field :requester, :disabled => !@cab_request.requester.nil?


    .field
      = f.label "pick_up_for:"
      = f.text_field :pick_up_for

    .field
      = f.label "Contact_no:"
      = f.text_field :contact_no

    .field
      = f.label "Date"
      = f.datepicker "date"

    .field
      = f.label "TIme:"
      %select
        -@hours.each do|hours|
          %option= hours
        %end

      = ":"

      %select
        -@minutes.each do|minutes|
          %option= minutes
        %end
      %select
        -@ampm.each do|ampm|
          %option= ampm
        %end


    .field
      =f.label "Source:"
      %select
        -@sources.each do|source|
          %option= source
        %end

    .field
      =f.label "Destination:"
      %select
        -@destinations.each do|destination|
          %option= destination
        %end

    .field
      =f.label "No of passengers:"
      %select
        -@num.each do|i|
          %option= i
        %end

    .field
      =f.label "Comments:"
      =f.text_field :comments

  %end




