-@num = Array(1..50)
-@sources = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]
-@destinations = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]
-@hours = Array(01..12).map {|n| "%02d" % n}
-@minutes = [00,30].map {|n| "%02d" % n}
-@ampm = ["am","pm"]

.header
  .left_header
    %img{:src => "/assets/thoughtworks.gif"}
  .right_header
    %h1 Create Request
    
    -if @is_admin
      %h4= link_to "Manage App",support_center_index_path

    %h4= link_to "logout",requesters_logout_path, :id => 'logout_link'


= form_for(@cab_request) do |f|
  .right_container 
    -if @cab_request.errors.any?
      #error_explanation
        %h2= pluralize(@cab_request.errors.count, "error")
        %ul
          -@cab_request.errors.full_messages.each do |msg|
            %li=  msg
          %end
    %end
    .field
      = f.label "Requester:"
      = f.text_field :requester ,:Readonly => true

    .field
      = f.label "pick_up_for:"
      = f.text_field :pick_up_for ,:id => "pick_up_for", :onblur => "my_func('pick_up_for','label')"

    .field
      = f.label "Contact_no:"
      = f.text_field :contact_no

    .field
      = f.label "Date:"
      = f.datepicker :date  ,:dateFormat =>"dd/mm/yy"

    .field
      = f.label "pick_up_time:"
      %select{:name => "hours" }
        -@hours.each do|hours|
          %option= hours
        %end

      = ":"

      %select{:name => "minutes" }
        -@minutes.each do|minutes|
          %option= minutes
        %end

      %select{:name=>"ampm"}
        -@ampm.each do|ampm|
          %option= ampm
        %end

    .field
      =f.label "Source:"
      %select{ :id => "ddl_source" , :name => "cab_request[source]" ,:onchange => "onSelectedValueChange('ddl_source','txt_source');" }
        -@sources.each do|source|
          %option= source
        %end

      =f.hidden_field :source, :id =>"txt_source" , :disabled => true

    .field
      =f.label "Destination:"
      %select{:name => "cab_request[destination]", :id =>"ddl_destination", :onchange => "onSelectedValueChange('ddl_destination','txt_destination');" }
        -@destinations.each do|destination|
          %option= destination
        %end
      =f.hidden_field :destination, :id =>"txt_destination" , :disabled => true

    .field
      =f.label "No of passengers:"
      %select{:name => "cab_request[no_of_passengers]" }
        -@num.each do|i|
          %option= i
        %end

    .field
      =f.label "Comments:"
      =f.text_field :comments

    .field
      =f.submit "Send"

    %h3= link_to 'cancel', cab_requests_path

  .left_container
    %img{:src => "/assets/Twi_new.gif"}
