-@num = Array(1..50)
-@sources = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]
-@destinations = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]
.row-fluid
  .span6
    .form-horizontal
      = form_for(@cab_request) do |f|

        -if @cab_request.errors.any?
          #error_explanation
            %h2= pluralize(@cab_request.errors.count, "error")
            %ul
              -@cab_request.errors.full_messages.each do |msg|
                %li=  msg
              %end
        .row-fluid
          .span6
          .span6
            .control-group
              %h3 Book A Cab

        .row-fluid.form-main
          .span6
            %h4 For
          .span6
            .control-group
              -#= f.label "Name:", class: 'control-label'
              -#.controls
              = f.text_field :traveler_name , :class=>"input-block-level", :id => "traveler_name", :placeholder => "name"

            .control-group
              -#-#= f.label "Contact No:", class: 'control-label'
              -#.controls
              = f.text_field :contact_no, :class=>"input-block-level", :placeholder => "contact no" , :id => "contact_no"
        .row-fluid.form-main
          .span6
            %h4 When
          .span6
            .control-group
              -#-#=f.label "When", class: 'control-label'
              -#.controls
              =f.text_field :pick_up_date , :class=>"input-block-level uneditable-input",:id => "pick_up_date", autocomplete: "off", placeholder: "Date"

            .control-group
              -#-#= f.label "At What Time:", class: 'control-label'
              -#.controls
              = f.text_field :pick_up_date_time , :class=>"input-block-level uneditable-input", :id => 'pick_up_time', :value => @cab_request.pick_up_date_time, autocomplete: "off",readonly: 'true' , placeholder: "Time"

        .row-fluid.form-main
          .span6
            %h4 From
          .span6
            .control-group
              -#.controls
              %select{ :id => "source" , :class=>"input-block-level", :name => "cab_request[source]" ,:onchange => "onSelectedValueChange('source','other_source');" }
                -@sources.each do|source|
                  %option{:selected => (source == @cab_request.source)}= source
                %end

              %input{:type => "hidden", :class=>"input-block-level", :name => "source", :id => "other_source" , :value => @other_source , :disabled => false}

        .row-fluid.form-main
          .span6
            %h4 To
          .span6
            .control-group
              -#.controls
              %select{:name => "cab_request[destination]", :class=>"input-block-level", :placeholder => "--select--", :id =>"destination", :onchange => "onSelectedValueChange('destination','other_destination');" }
                -@destinations.each do|destination|
                  %option{:selected => (destination == @cab_request.destination)}= destination
                %end


              %input{:type => 'hidden', :class=>"input-block-level", :name=> "destination", :id => "other_destination" , :disabled => true ,:value => @other_destination}
        .row-fluid.form-main
          .span6
            %h4 Passengers
          .span6
            .control-group
              -#=f.label "No of passengers:", class: 'control-label'
              -#.controls
              = f.text_field :no_of_passengers , :class=>"input-block-level",:value => @cab_request.no_of_passengers, :placeholder => "No of passengers", :id => "no_of_passengers"
        .row-fluid.form-main
          .span6
            %h4 Comments
          .span6
            .control-group
              -#=f.label "Any Message:", class: 'control-label'
              -#.controls
              =f.text_field :comments, :class=>"input-block-level", :placeholder => "Any message"

        .row-fluid.form-main
          .span6
          .span6
            .span8
              =f.submit "Confirm Booking" ,class: 'btn btn-block', id: "Create cab_request"
            .span4
              =f.button "Reset", class: 'btn btn-block', type: 'reset'

  .span6
    %h1 Add iFrame Here
