-@cr = "true"
= render '/header'

-@cr = "false"
-@num = Array(1..50)
-@sources = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]
-@destinations = ["Airport","Guest House","McKinsey","ThoughtWorks","other"]

= form_for(@cab_request) do |f|
  .right_container 
    -if @cab_request.errors.any?
      #error_explanation
        %h2= pluralize(@cab_request.errors.count, "error")
        %ul
          -@cab_request.errors.full_messages.each do |msg|
            %li=  msg
          %end
    %end
    %h2 Create Request :
    %br
    %br
    .field
      = f.label "Requester:"
      = f.text_field :requester ,:Readonly => true

    .field
      = f.label "traveler_name:"
      = f.text_field :traveler_name ,:id => "traveler_name", :onblur => "my_func('traveler_name','label')"

    .field
      = f.label "Contact_no:"
      = f.text_field :contact_no

    = form_tag do
      %label Date:
      %input{:id => "pick_up_date", :name => "pick_up_date"}
    %end

    .field
      = f.label "Time:"
      = f.text_field :pick_up_date_time , :id => 'pick_up_time'

    .field
      =f.label "Source:"
      %select{ :id => "ddl_source" , :name => "cab_request[source]" ,:onchange => "onSelectedValueChange('ddl_source','txt_source');" }
        -@sources.each do|source|
          %option= source
        %end

      =f.hidden_field :source, :id =>"txt_source" , :disabled => true

    .field
      =f.label "Destination:"
      %select{:name => "cab_request[destination]", :id =>"ddl_destination", :onchange => "onSelectedValueChange('ddl_destination','txt_destination');" }
        -@destinations.each do|destination|
          %option= destination
        %end
      =f.hidden_field :destination, :id =>"txt_destination" , :disabled => true

    .field
      =f.label "No of passengers:"
      %select{:name => "cab_request[no_of_passengers]" }
        -@num.each do|i|
          %option= i
        %end

    .field
      =f.label "Comments:"
      =f.text_field :comments

    .field
      =f.submit "Send", :class => 'button'
      %h3= link_to 'cancel', cab_requests_path

  .left_container
    %img{:src => "/assets/Twi_new.gif"}

