%h1 Configure Details

%hr   
  
  = form_for(@admin_detail) do |f|
    -if @admin_detail.errors.any?
      #error_explanation
        %h2= pluralize(@admin_detail.errors.count, "error")
        %ul
          -@admin_detail.errors.full_messages.each do |msg|
            %li=  msg
          %end
    %end

    .field
      = f.label "Support Phone Number:"
      = f.text_field :support_phone_no

    .field
      = f.label "Vendor phone number:"
      = f.text_field :vendor_phone_no

    .field
      = f.label "Assigned admin:"
      = f.text_field :assigned_admins

    .action
      = f.submit
  %end







