-@ad = "true"
-if !$is_admin
  = render '/header'
  = render '/contact_us'

-if $is_admin
  = render '/header'
  -@ad = "false"
  = render '/contact_us'
  %br
  %br
  %br
  %h3= link_to 'Admins', admins_path
  %br
  %h3= link_to 'Update', '/support_center/edit'
  %br
  %h3= link_to 'Vendors', vendors_path

