= render '/permissions'

-if @is_admin
  -@admin_scope = "true"
  = render '/header'
  -@admin_scope = "false"

  %br
  %br
  %br

  =form_tag :action => :update do
    %h2 CAB REQUEST MESSAGE WILL BE SENT TO:
    %b ADMIN :
    %select{:name => "admin"}
      -@admins.each do|admin|
        %option{ :selected => admin.status }= admin.name
      %end
    %br
    %br
    %br
    %b VENDOR :
    %select{:name => "vendor"}
      -@vendors.each do|vendor|
        %option{ :selected => vendor.status }= vendor.name
      %end
    %br
    %br
    =submit_tag "Update"
  %end
  %br
  %br
  = link_to 'back', support_centers_path