= render '/permissions'

-if @is_admin
  %br
  %br
  .row-fluid
    .span1
    .span10
      %table{cellspacing: 50, id: 'table',class: 'table table-striped table-hover'}
        %th Name
        %th Contact No
        %th
        %th
        - @vendors.each do |vendor|
          %tr
            %td= vendor.name
            %td= vendor.contact_no
            %td= link_to 'Edit', edit_vendor_path(vendor)
            %td= link_to 'Delete', vendor_path(vendor), :method => :delete, :confirm => 'Are you sure?', :hidden => vendor.status
        %end

      = link_to 'New', new_vendor_path
    .span1