%br
%table{:cellspacing => 50 ,id: "table", :class=>"table table-striped table-hover "}
  %th Requester
  %th Traveller
  %th Mobile No.
  %th Date
  %th Time
  %th From
  %th To
  %th No of passengers

  - @cab_requests.zip(@dates).each do |each_request,date|
    %tr
      %td= each_request.requester
      %td= each_request.traveler_name
      %td= each_request.contact_no
      %td= date
      %td= ist(each_request.pick_up_date_time)
      %td= each_request.source
      %td= each_request.destination
      %td= each_request.no_of_passengers
  %end
