.row-fluid
  .span1
  .span11
    = form_for(@info) do |f|
      -if @info.errors.any?
        #error_explanation
          %h2= pluralize(@info.errors.count, "error")
          %ul
            -@info.errors.full_messages.each do |msg|
              %li=  msg
            %end
      %end

      .field
        = f.label "Name:"
        = f.text_field :name, :id => 'name', required: true, title: 'only alphabets', pattern: '^[a-z A-Z]+$', autofocus: true

      .field
        = f.label "Contact No:"
        = f.text_field :contact_no, :id => 'contact_no', required: true, title: 'exactly 10 integers ', pattern: '^[0-9]{10,10}$'


      .action
        .span2
          = f.submit :class => 'btn btn-block' ,id: "submit"


