.header
  .left_header
    %img{:src => "/assets/thoughtworks.gif"}
  .right_header
    %h1 Cab Requisition System
  .menu_bar
    %ui{:id => 'nav'}
      %li

        -if !@cab_request_show_scope
          %h4= link_to "View My Reports", '/cab_requests/show'
      %li
        -if !@cab_request_scope
          %h4= link_to "Book A CAB",new_cab_request_path
      %li
        -if !$is_admin & @cab_request_scope
          %h4= link_to "Contact Us",support_center_index_path

      %li
        -if $is_admin
          -if @cab_request_scope || @cab_request_show_scope
            %h4= link_to "Manage App",support_center_index_path
          -if @admin_scope
            %h4= link_to "View All Reports", '/support_center/show'
      %li
        %h4= link_to "logout",requesters_logout_path, :id => 'logout_link'