<!DOCTYPE html>
<html>
  <head>
    <title>CabApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <div class= "row-fluid">

      <div class="span1"></div>

      <div class="span10">
        <div class= "row-fluid">
            <div class="page-title">
              <h1>Cab Requisition System</h1>
              <div class="loginInfo">Logged in as: <span><%= current_user %></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/requesters/logout">Logout</a></div>
            </div>
        </div>

        <div class= "row-fluid">
            <div class="content-main">
              <ul class="nav nav-tabs">
                <li><a href="/cab_requests/new" id="Book A Cab">Book A Cab</a></li>
                <li><a href="/cab_requests/show" id="View My Requests">View My Requests</a></li>
                <% if @is_admin %>
                    <li>
                      <a href="/support_centers" id="Manage App" >Manage App</a>
                    </li>
                    <li>
                      <a href="/support_centers/show" id="View All Reports" >View All Reports</a>
                    </li>
                <% else %>
                    <li>
                      <a href="/support_centers" id="Contact Us" >Contact Us</a>
                    </li>
                <% end %>
              </ul>
              <%= yield%>

            </div>
          </div>
        <div class= "row-fluid">

          <div class="footer">Copyright &copy 2013, <a href="http://www.thoughtworks.com">ThoughtWorks</a>, Inc. All rights reserved.
          </div>
        </div>
      </div>

      <div class="span1"></div>
    </div>

  </body>
</html>
